<form class="border border-secondary rounded p-3 bg-light" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row mb-4">
    <div class="col-xs-12 col-sm-8">
      <label for="name" class="form-label">Character Name</label>
      <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      ngModel
      required
      #nameCtrl="ngModel"
      >
      <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name.</span>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-xs-2 col-sm-3">
      <label for="side" class="form-label">Choose Side</label>
      <select name="side" id="side" class="form-select" ngModel>
        <option *ngFor="let option of availableSides" [value]="option.value">
          {{ option.display }}
        </option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add Character</button>
</form>
